[submodule "vifm/.config/vifm/vifmimg"]
	path = vifm/.config/vifm/vifmimg
	url = https://github.com/cirala/vifmimg.git
[submodule "zsh/.config/zsh/not-my-zsh"]
	path = zsh/.config/zsh/not-my-zsh
	url = git@github.com:EricDriussi/not-my-zsh.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:EricDriussi/nvim.git
