[submodule "zsh/.config/zsh/not-my-zsh"]
	path = zsh/.config/zsh/not-my-zsh
	url = ../not-my-zsh.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = ../nvim.git
[submodule "vifm/.config/vifm/vifmimg"]
	path = vifm/.config/vifm/vifmimg
	url = git@github.com:thimc/vifmimg.git
