[submodule "vifm"]
	path = vifm/.config/vifm/vifmimg
	url = https://github.com/cirala/vifmimg.git
[submodule "custom-zsh/.config/custom-zsh/plugins/zsh-autosuggestions"]
	path = custom-zsh/.config/custom-zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "custom-zsh/.config/custom-zsh/plugins/zsh-syntax-highlighting"]
	path = custom-zsh/.config/custom-zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
