[user]
	name = Eric Driussi
	email = ericdriussi@gmail.com

[core]
	editor = nvim
	autocrlf = input
	excludesFile = ~/.gitignore-global
        pager = delta --paging=never --24-bit-color=never

[diff]
        tool = nvim

[difftool "nvim"]
        cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
        path = /usr/bin/nvim

[difftool]
	prompt = false

[includeIf "gitdir:~/Documents/leanmind/"]
        path = .gitconfig-leanmind

[rebase]
	autostash = true

[pull]
	ff = only

[mergetool "nvim"]
        path = /usr/bin/nvim

[merge]
        tool = nvim

[delta]
	features = decorations
        line-numbers = true
        side-by-side = true
        navigate = true

[delta "decorations"]
        file-style = yellow bold none
        file-decoration-style = yellow box
	;hunk-header-style = magenta bold
	;hunk-header-decoration-style = magenta box
	minus-empty-line-marker-style = normal normal
	plus-empty-line-marker-style = normal normal
        line-numbers-right-format = "{np:^4}│ "
