[user]
	name = Eric Driussi
	email = ericdriussi@gmail.com

[core]
	editor = nvim
	autocrlf = input
	excludesFile = ~/.gitignore-global
        pager = delta --paging=never --true-color=always --wrap-right-percent 1

[diff]
        tool = nvim
        colorMoved = default

[difftool "nvim"]
        cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
        path = /usr/bin/nvim

[difftool]
	prompt = false

[includeIf "gitdir:~/Documents/leanmind/"]
        path = .gitconfig-leanmind

[rebase]
	autostash = true

[pull]
        rebase = true

[mergetool "nvim"]
        path = /usr/bin/nvim

[merge]
        tool = nvim

[delta]
	features = decorations
        line-numbers = true
        side-by-side = true
        navigate = true

[delta "decorations"]
        file-style = yellow bold none
        file-decoration-style = white box
        hunk-header-style = omit
	minus-empty-line-marker-style = normal normal
	plus-empty-line-marker-style = normal normal
        line-numbers-right-format = "│{nm:^2} {np:^2}│ "
        line-numbers-left-format = " "
        line-numbers-right-style = blue
        line-numbers-minus-style = red
        line-numbers-plus-style = green
[init]
	defaultBranch = master
