"Settings
set spelllang=en,es,cjk
set encoding=utf-8
set fileencoding=utf-8
set t_Co=256
set updatetime=200
set timeoutlen=700
set noswapfile
set nobackup

set smartcase
set ignorecase
set incsearch
set cursorline
set scrolloff=10
set sidescrolloff=5
set iskeyword-=_
set iskeyword-=-

set number 
set mouse=a
set hls

"FKN Bell...
set noerrorbells
set belloff=all
set visualbell

" ---------------------------MAPPINGS---------------------------"

"Kinda scrolling
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

"Sensible copy-pasting to and from system clipboard
vnoremap <C-A-y> "+y <bar> :echom 'Copied to system clipboard!'<CR>
nnoremap <C-A-y> "+yiw <bar> :echom 'Copied to system clipboard!'<CR>
nnoremap <C-A-p> "+p <bar> :echom 'Pasted from system clipboard!'<CR>
vnoremap <C-A-p> "+p <bar> :echom 'Pasted from system clipboard!'<CR>
inoremap <C-A-p> <Esc>"+p <bar> :echom 'Pasted from system clipboard!'<CR>A
nnoremap Y y$

"Paste over selected text without screwing the reg
vnoremap p "_dP
vnoremap P "_dP

"Select all
nnoremap <C-a> ggVG

"Esc+Esc to turn off search highlighting
nnoremap <Esc> :noh<return><Esc>

"Close tab
nnoremap <C-w> :q<CR>
inoremap <C-w> <Esc>:q<CR>

"Nav
nnoremap <C-M-l> :wincmd l<cr>
nnoremap <C-M-h> :wincmd h<cr>
nnoremap <C-M-j> :wincmd j<cr>
nnoremap <C-M-k> :wincmd k<cr>

"Better tabbing
vnoremap < <gv
vnoremap > >gv

"Save all
nnoremap <M-s> :wa <CR>

"Home made Surround.vim
vmap ( xi()<Esc>P
vmap [ xi[]<Esc>P
vmap { xi{}<Esc>P
vmap ' xi''<Esc>P
vmap ` xi``<Esc>P

"Center search selection
nnoremap n nzzzv
nnoremap N Nzzzv

"Replace word in Normal mode and selection in Visual mode
nnoremap R *``cgn
"vnoremap R y/\V<C-R>=escape(@",'/\')<CR><CR>Ncgn - No Work
"FUCKS UP REG

"Search selected text
"vnoremap // y/\V<C-R>=escape(@",'/\')<CR><CR> - No Work

"Move current line and selected lines - Can't find a good remap for multicursor
"nmap <a-j> :m .+1<cr>==
"nmap <a-k> :m .-2<cr>==
"vnoremap <a-j> :m '>+1<cr>gv=gv
"vnoremap <a-k> :m '<-2<cr>gv=gv
