killall xremap; xremap ~/.config/xremap/config.yml --watch &
picom -CGb &
unclutter &

# GUI apps
firefox &
slack &
thunderbird &

if [[ -f "/etc/arch-release" ]]; then
  obsidian &
  nextcloud &
  emote &
fi

# Bell
xset b off &
